// Utils
@import 'utils/variables';
@import 'utils/mixins';

.search-component {
  min-height: 100vh;

  > section {
    overflow: hidden;
    padding: 15px 75px;
  }

  &-albums,
  &-artists {
    display: flex;
    flex-flow: wrap;
  }
}
