<section
  class="search-component"
  (click)="toggleTrackOpt($event, null)">

  <!-- Artists Results -->
  <section *ngIf="artists">
    <a
      class="artist artist-badge"
      routerLink="/playlist/artist/{{ artist.id }}"
      *ngFor="let artist of artists">
      <span
        class="artist-image"
        [ngStyle]="{'background-image': 'url(' + artist.images[0].url + ')'}">
      </span>
      <span class="title">{{ artist.name }}</span>
    </a>
  </section>
  <!-- end Artists Results -->

  <!-- Albums Results -->
  <section *ngIf="albums">
    <a
      class="album"
      [attr.aria-label]="album.name"
      routerLink="/playlist/album/{{ album.id }}"
      *ngFor="let album of albums">
      <img
        src="{{ album.images[0].url }}"
        [attr.alt]="album.name"/>
    </a>
  </section>
  <!-- end Albums Results -->

  <!-- Tracks Results -->
  <section *ngIf="tracks">
    <div
      *ngFor="let track of tracks; index as trackI"
      class="track {{ track.display && 'display' }}"
      [ngClass]="{ 'open-actions': options === trackI }">
      <i class="icon-music"></i>

      <span class="track-name">
        {{ track.name }} <br />
        <a
          class="track-link"
          [attr.aria-label]="track.album.name"
          routerLink="/playlist/album/{{track.album.id}}">
          {{track.album.name}}
        </a>
        &#8226;
        <a
          class="track-link"
          [attr.aria-label]="track.album.artists[0].name"
          routerLink="/playlist/artist/{{track.album.artists[0].id}}">
          {{track.album.artists[0].name}}
        </a>
      </span>

      <span class="track-actions">
        <span class="track-actions-list">
          <ng-template ngFor let-playlist [ngForOf]="playlists">
            <a
              *ngIf="!playlistIncludes(playlist, track); else includedInPlaylist"
              [attr.aria-label]="'Add to ' + playlist.name"
              (click)="updatePlaylist('ADD_TRACK', playlist.id, track)">
              Add to <b>{{ playlist.name }}</b>
            </a>

            <ng-template #includedInPlaylist>
              <a
                [attr.aria-label]="'Remove from ' + playlist.name"
                (click)="updatePlaylist('DELETE_TRACK', playlist.id, track)">
                <i class="icon-check"></i>
                Remove from <b>{{ playlist.name }}</b>
              </a>
            </ng-template>
          </ng-template>
        </span>
        <a
          class="btn btn-green btn-icon"
          aria-label="More"
          (click)="toggleTrackOpt($event, trackI)">
          <i class="icon-more-horizontal"></i>
        </a>
      </span>
    </div>

  </section>
  <!-- end Tracks Results -->

</section>
