html {
  /*
   * Setup font size to 62.5% is equal to 10px,
   * this way we can implement rem and px sizes in
   * equivalent number, for example, giving the value 1.2
   * to the "rem-px" mixing the result will be 12px and 1.2rem
   */
  font-size: 62.5% !important;
}

html,
body {
  background-image: url('./assets/img/bg_body.jpg');
  background-size: cover;
  color: $color-font;
  font-family: $font-sans;
  font-size: 1.2rem;
  -webkit-print-color-adjust: exact;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  // Removes outline from focus elements in Chrome
  &:focus {
    outline: none !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

.serif {
  font-family: $font-serif !important;
}

// Scrollbars
* {
  scrollbar-color: $color-gray-2 transparent;
  scrollbar-width: thin; // Firefox support
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-gray-2;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $color-gray-2; 
}

.main-body {
  height: 100vh;
  padding-bottom: 30px;
}