<section class="module">

  <div class="module-aside">
    <!-- Search -->
    <form
      [formGroup]="searchForm">
      <fieldset>
        <input
          type="text"
          name="search"
          formControlName="search"
          placeholder="Search for"/>
      </fieldset>
    </form>
    <!-- end Search -->


    <!-- Playlists -->
    <section
      class="playlists"
      *ngIf="playlists">
      <div
        class="playlists-item {{ playlist.dislpay && 'display' }} {{ playlist.remove && 'remove' }}"
        *ngFor="let playlist of playlists; index as i"
        [ngClass]="{'open': currentPlaylist && currentPlaylist.id === playlist.id}"
        (click)="currentPlaylist = playlist">
        <h4><i class="icon-headphones"></i> {{ playlist.name }}</h4>

        <p>
          <span>Tracks <b>{{ playlist.tracks.total }}</b></span>
          <span>Owner <b>{{ playlist.owner.display_name }}</b></span>
          <a
            class="btn btn-gray btn-small"
            *ngIf="playlist.owner.id === user.id"
            (click)="updatePlaylist({
              action: 'REMOVE_PLAYLIST',
              playlist: playlist
            })">
            Remove playlist <i class="icon-trash-2"></i>
          </a>
        </p>
      </div>

      <a
        class="btn btn-green"
        *ngIf="!newPlaylist"
        (click)="newPlaylist = !newPlaylist">
        New playlist
      </a>

      <!-- Create Playlist -->
      <form
        class="playlists-new"
        *ngIf="newPlaylist"
        [formGroup]="playlistForm"
        (ngSubmit)="updatePlaylist({
          action: 'CREATE_PLAYLIST',
          playlist: playlistForm.value
        })">
        <fieldset>
          <input
            type="text"
            name="name"
            formControlName="name"
            placeholder="Name your playlist :)"/>

          <button
            class="btn btn-green btn-icon">
            <i class="icon-check"></i>
          </button>
        </fieldset>

        <fieldset>
          <label for="public">
            <input
              id="public"
              name="public"
              type="checkbox"
              formControlName="public"/>
            Make private
          </label>
        </fieldset>
      </form>
      <!-- end Create Playlist -->

    </section>
    <!-- end Playlists -->
  </div>

  <!-- Tracks -->
  <app-playlist-tracks
    *ngIf="currentPlaylist"
    class="module-tracks"
    [user]="user"
    [playlist]="currentPlaylist">
  </app-playlist-tracks>
  <!-- end Tracks -->

  <div class="module-content">
    <router-outlet></router-outlet>
  </div>

</section>
