.module {
  display: flex;
  height: 100vh;
  padding-bottom: 30px;

  &-content {
    flex-grow: 1;
    overflow: auto;
  }

  &-aside {
    background: $color-aside;
    margin: 0;
    padding: 0 35px 15px;
    width: 280px;
    z-index: 1;

    &-logo {
      align-items: center;
      display: flex;
      padding: 20px 0 30px;
    }

    &-logo img {
      width: 85px;
    }

    &-logo span {
      font-size: 1.2rem;
      padding: 4px 0 0 5px;
    }
  }

  &-aside-top {
    background: white;
    border-bottom: 1px solid $color-bg-2;
    margin: 0 -35px 25px;
    padding: 15px 35px 15px;

    i {
      background: transparent;
      padding: 6px 0;
    }

    input {
      background: transparent;
      border-color: $color-bg-2;
      padding: 6px 10px;
    }
  }

  &-tracks {
    animation: slide-panel .5s ease-in-out forwards;
    background: $color-aside-2;
    border-left: 1px solid $color-bg-2;
    border-right: 1px solid $color-bg-2;
    overflow: auto;
  }
}

// Playlists aside component
.playlists {

  &-item{
    border-bottom: 1px solid $color-green-1;
    cursor: pointer;
    height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transform: translateX(-250px);
    transition:
      height .2s .0s cubic-bezier(0.455, 0.030, 0.515, 0.955),
      transform .2s .1s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    width: 100%;

    &:last-of-type {
      border-bottom: 0;
    }

    &.display {
      height: 39px;
      transform: translateX(0);
    }

    &.remove {
      animation: slide-off 300ms ease-in-out forwards;
    }

    &.open {
      height: 130px;
    }

    &.open h4 {
      color: $color-font;
    }

    &.open p {
      transform: translateY(0);
    }

    h4 {
      color: rgba($color-font, 0.68);
      font-size: 1.6rem;
      left: 20px;
      margin: 0;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      padding: 0 10px;
      margin-top: 0;
      position: relative;
      transform: translateY(350px);
      transition: transform .3s .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);

      span {
        color: $color-font-light;
        display: block;
        line-height: 1.7rem;
        margin: 0;
      }

      .btn-red {
        margin-top: 10px;
      }
    }
  }

  &-new {
    transform: translateX(-400px);
    animation: slide-form .4s ease-in-out forwards;
    margin-top: 30px;

    fieldset {
      position: relative;
    }

    button {
      position: absolute;
      right: 0;
      border-radius: 0;
    }

    label {
      color: $color-font-light;
      padding: 0 10px;

      input {
        margin-right: 5px;
      }
    }

    input {
      background: transparent;
      border-color: $color-bg-2;
      padding: 6px 40px 6px 10px;
    }
  }

  &-tracks {
    padding: 10px 15px;
  }

  .btn-primary {
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }
}
// end Playlists aside component

@keyframes slide-panel {
  /*
   * TODO: We need to transition width and min-width in order for the content
   * to slide content to the right. Check for a more CSS performant approach.
   */
  0% {
    transform: translateX(-400px);
    min-width: 0;
    width: 0;
  }

  100% {
    transform: translateX(0);
    min-width: 340px;
    width: 340px;
  }
}

@keyframes slide-form {
  0% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(0);
  }
}
