<section class="module">

  <section
    class="user"
    (click)="logout()"
    *ngIf="user">
    <span class="user-text">
      <span>{{ user.display_name }}</span>
      <span>Logout</span>
    </span>

    <span class="user-badge">
      <span
        class="user-image"
        [ngStyle]="{'background-image': 'url(' + user.images[0].url + ')'}"></span>
      <i class="icon-log-in"></i>
    </span>
  </section>

  <div class="module-aside">

    <div class="module-aside-top">
      <div class="module-aside-logo">
        <img src="/assets/img/logo_spotify.svg" />
        <span>Playlist editor</span>
      </div>

      <!-- Search -->
      <form
        [formGroup]="searchForm">
        <fieldset>
          <input
            type="text"
            name="search"
            formControlName="search"
            placeholder="Search for"/>
        </fieldset>
      </form>
      <!-- end Search -->
    </div>


    <!-- Playlists -->
    <section
      class="playlists"
      *ngIf="playlists">

      <div
        class="playlists-item {{ playlist.display && 'display' }} {{ playlist.remove && 'remove' }}"
        *ngFor="let playlist of playlists; index as i"
        [ngClass]="{'open': currentPlaylist && currentPlaylist.id === playlist.id}"
        (click)="setDisplays(playlist)">
        <h4>
          <i class="icon-headphones"></i>
          {{ playlist.name }}
        </h4>

        <p>
          <span>Tracks <b>{{ playlist.tracks.total }}</b></span>
          <span>Owner <b>{{ playlist.owner.display_name }}</b></span>
          <a
            class="btn btn-red btn-small"
            *ngIf="playlist.owner.id === user.id"
            (click)="updatePlaylist({
              action: 'REMOVE_PLAYLIST',
              playlist: playlist
            })">
            Remove playlist <i class="icon-trash-2"></i>
          </a>
        </p>
      </div>

      <a
        class="btn btn-primary"
        *ngIf="!newPlaylist"
        (click)="newPlaylist = !newPlaylist">
        New playlist
      </a>

      <!-- Create Playlist -->
      <form
        class="playlists-new"
        *ngIf="newPlaylist"
        [formGroup]="playlistForm"
        (ngSubmit)="updatePlaylist({
          action: 'CREATE_PLAYLIST',
          playlist: playlistForm.value
        })">
        <fieldset>
          <input
            type="text"
            name="name"
            formControlName="name"
            placeholder="Name your playlist :)"/>

          <button
            class="btn btn-green btn-icon">
            <i class="icon-check"></i>
          </button>
        </fieldset>

        <fieldset>
          <label for="public">
            <input
              id="public"
              name="public"
              type="checkbox"
              formControlName="public"/>
            Make private
          </label>
        </fieldset>
      </form>
      <!-- end Create Playlist -->

    </section>
    <!-- end Playlists -->
  </div>

  <!-- Tracks -->
  <app-playlist-tracks
    *ngIf="currentPlaylist"
    class="module-tracks"
    [playlistId]="currentPlaylist.id"
    [playlistTracks]="currentPlaylist.tracks.items"
    [playlistLength]="currentPlaylist.tracks.items.length"
    [playlistOwner]="user.id === currentPlaylist.owner.id || currentPlaylist.collaborative">
  </app-playlist-tracks>
  <!-- end Tracks -->

  <div class="module-content">
    <router-outlet></router-outlet>
  </div>

</section>
