/**
 * Gonzalo Chacon
 */

 //TODO: review values here, optimize and delete the ones not used

// Sizes
$content-max-width: 1140px;

// Media breakpoints
$max-mobile: 768px;
$max-tablet: 1024px;

// Colors
$color-primary: #1cb954;
$color-font: #030303;
$color-font-light: #81807f;

$color-gray-1: #fafafa;
$color-gray-2: #d6d6d6;
$color-green-1: #bad7ca;
$color-red-1: #C53424;
$color-orange: orange;

// Fonts
$font-sans: 'Open Sans', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-serif: 'Lora', serif;

$color-bg: #f4f3f2;
$color-bg-2: #e8e8e8;
$color-aside: #fdfdfe;
$color-aside-2: #f7f7f7;
$color-black: #030303;
$color-gray-v2: #cbcbca;
// $color-font: #81807f;
