/**
 * Gonzalo Chacon
 */

// Sizes
$content-max-width: 1140px;

// Media breakpoints
$max-mobile: 768px;
$max-tablet: 1024px;

// Colors
$color-primary: #00dd4d;
$color-font: #4e4e4e;
$color-font-light: #9c9c9c;

$color-gray-1: #fafafa;
$color-gray-2: #d6d6d6;
$color-green-1: #bad7ca;
$color-red-1: #C53424;

$color-red: #C53424;
$color-orange: orange;
$color-blue: blue;

// Fonts
$font-sans: 'Open Sans', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-serif: 'Lora', serif;
