<section
  class="playlist-tracks-component"
  *ngIf="tracks">
  <div
    *ngFor="let track of tracks;index as i"
    class="track {{ track.display && 'display' }} {{ track.remove && 'remove' }}">
    <!-- TODO: for some reason ngClass is not working here, check why -->
    <i class="icon-music"></i>

    <span class="track-name">
      {{ track.name }} <br>
      <a
        class="track-link"
        [attr.aria-label]="track.album.name"
        routerLink="/playlist/album/{{track.album.id}}">
        {{track.album.name}}
      </a>
      &#8226;
      <a
        class="track-link"
        [attr.aria-label]="track.album.artists[0].name"
        routerLink="/playlist/artist/{{track.album.artists[0].id}}">
        {{track.album.artists[0].name}}
      </a>
    </span>
    <span>
      <a
        class="btn btn-red btn-icon"
        aria-label="Delete track"
        *ngIf="canEdit"
        (click)="deleteTrack(track, i)">
        <i class="icon-trash-2"></i>
      </a>
    </span>
  </div>
</section>
