.playlist-tracks {
  height: 100vh;
  overflow: scroll;
  padding: 15px 35px;

  .track {
    border-bottom: 1px solid $color-green-1;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    transform: translateX(-400px);
    transition: transform .3s .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);

    &:last-of-type {
      border-bottom: 0;
    }

    span {
      display: block;
    }

    &.display {
      transform: translateX(0);
    }

    &-name {
      font-family: $font-title;
      padding-bottom: 3px;
      line-height: 1.7rem;
    }

    span:not(.track-name) {
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
  }
}
