.album-component {
  height: 100vh;
  padding: 15px 35px;
  max-width: 800px;
  margin: auto;

  .album {
    img {
      width: 200px;
    }
  }

  .track {
    border-bottom: 1px solid $color-green-1;
    display: flex;
    padding: 10px 0;
    position: relative;

    &:last-of-type {
      border-bottom: 0;
    }

    > span {
      display: block;
    }

    &-name {
      flex-grow: 1;
      font-family: $font-title;
      line-height: 1.7rem;
      padding-bottom: 3px;
      position: relative;

      i {
        color: $color-primary;
        padding-right: 5px;
      }
    }

    &-actions {
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 2.2rem;
      margin-left: 20px;

      &-list {
        border-radius: 4px;
        list-style: none;
        margin: 2px 0 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 20px;
        visibility: hidden;
        z-index: -1;
      }

      i {
        color: $color-font;
        position: relative;
        text-align: center;
        display: block;
      }

      a {
        background: lighten($color-font, 5%);
        color: $color-font-light;
        cursor: pointer;
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        transform-origin: top center;
        transition: color .2s ease-in-out, background .2s ease-in-out;
        width: 150px;

        &:hover {
          background: $color-font;
          color: $color-primary;
        }
      }

      a:first-of-type {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      a:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover .track-actions-list {
        perspective: 1000px;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        a {
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              animation: {
                delay: (150ms * $i) - 300;
                duration: 300ms;
                fill-mode: forwards;
                name: menu-open;
                timing-function: ease-in-out;
              }
            }
          }
        }
      }
    }

    > span:not(.track-name) {
      color: $color-font-light;
      font-size: 1.1rem;
      line-height: 1.4rem;
      padding-left: 20px;
    }
  }
}

@keyframes menu-open {
  0% {
    opacity: 0;
    transform: rotateX(-90deg)
  }

  60% {
    transform: rotateX(50deg)
  }

  100% {
    opacity: 1;
    transform: rotatieX(0deg)
  }
}
