.btn {
  border: 1px solid $color-gray-2;
  border-radius: 80px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  padding: 6px 20px;
  transition: all .3s;

  i {
    padding-left: 5px;
  }

  &-small {
    padding: 5px 10px;
    font-size: 1rem;
  }

  &-icon {
    width: 28px;
    padding: 6px;
    height: 28px;

    i {
      padding: 0;
      font-size: 1.4rem;
    }
  }

  &-primary {
    border-color: $color-primary;
    background: $color-primary;
    color: white;
    &:hover {
      background: darken($color-primary, 10%);
      border-color: darken($color-primary, 10%);
      color: white;
    }
  }

  &-green {
    border-color: $color-bg-2;
    background: $color-bg-2;
    color: $color-primary;
    &:hover {
      background: $color-primary;
      border-color: $color-primary;
      color: white;
    }
  }

  &-green-transparent {
    border-color: transparent;
    background: transparent;
    color: $color-font;
    &:hover {
      color: $color-primary;
    }
  }

  &-red-transparent {
    border-color: transparent;
    background: transparent;
    color: $color-font-light;
    &:hover {
      color: $color-red-1;
    }
  }

  &-red {
    border-color: $color-bg-2;
    background: $color-bg-2;
    color: $color-red-1;
    &:hover {
      background: $color-red-1;
      border-color: $color-red-1;
      color: white;
    }
  }

  &-gray {
    background: $color-gray-2;
  }
}
