fieldset {
  padding: 0;
  border: 0;
  margin: 0 0 10px;
}

input {
  background: #efefef;
  border: 0;
  border-bottom: 1px solid #4e4e4e;
  padding: 6px 15px;
  font-size: 1.4rem;

  &[type="text"] {
    width: 100%;
  }
}

::-moz-placeholder {
  color: $color-gray-v2;
}

::-webkit-input-placeholder {
  color: $color-gray-v2;
}

:-ms-input-placeholder {
  color: $color-gray-v2;
}

:-moz-placeholder {
  color: $color-gray-v2;
}
