<section
  class="artist-component"
  *ngIf="artist">

  <section class="artist">
    <span
      class="artist-image"
      [ngStyle]="{'background-image': 'url(' + artist.images[0].url + ')'}">
    </span>

    <div class="artist-content">
      <b class="title">{{ artist.name }}</b>

      <section>
        <i>Genres</i>
        <a
          class="btn btn-gray btn-small"
          *ngFor="let genre of artist.genres"
          [attr.aria-label]="genre"
          routerLink="/playlist/search/{{genre}}">
          {{ genre }}
        </a>
      </section>

      <section>
        <i>Related artists</i>
        <a
          class="btn btn-gray btn-small"
          *ngFor="let artist of relatedArtists"
          [attr.aria-label]="artist.name"
          routerLink="/playlist/artist/{{artist.id}}">
          {{ artist.name }}
        </a>
      </section>
    </div>
  </section>

  <section class="artist-albums">
    <span class="artist-section">Albums</span>
    <a
      *ngFor="let album of albums"
      [attr.aria-label]="album.name"
      routerLink="/playlist/album/{{album.id}}">
      <img
        src="{{album.images[0].url}}"
        [attr.alt]="album.name"/>
    </a>
  </section>
</section>
