.artist-component {
  height: 100vh;
  padding: 15px 75px;
  margin: auto;

  .artist-section {
    border-bottom: 1px solid $color-gray-v2;
    display: block;
    font-size: 2rem;
    margin-bottom: 15px;
    padding: 8px 25px;
  }

  .artist-albums {
    margin: 40px 0 50px;

    a {
      display: inline-block;
      margin: 10px;
      width: 150px;
    }

    a img {
      display: block;
      width: 100%;
    }
  }
}
